/* Use official UNR colors in the header, throughout all of PUI*/

body {
	font-size:16px;
}

#header .logo {
    float: right;
    height: 75px;
    text-align: right;
    padding: 10px;
}

#header {
	background-color:#003366;
}

#header .h1, #header .h1 a {
	color: white;
	font-weight:normal;
}

h1, .h1, a { color: #003366; }
h2, .h2 { color: #003366; }
h3 { color: #003366; }

#header > .row { border-bottom: 0.25rem solid #003366; }

.btn-primary {
  background-color: #003366;
  border-color: #003366;
}

.btn-primary:focus,.btn-primary.focus { background-color: #003366; }
.btn-primary:hover { background-color: #999999; }

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #003366;
  border-color: #003366;
}
.pagination > li > a, .pagination > li > span { color: #003366; }

.navbar-default .navbar-nav > li > a { color: #003366; }

.record-type-badge.agent { color: #0048a5; } 
.record-type-badge.archival_object { color: #9aa86e; } 
.record-type-badge.digital_object { color: #fdb813; } 
.record-type-badge.repository { color: #0bb3e4; }
.record-type-badge.resource { color: #003366; }
.record-type-badge.subject { color: #00637b; }

/* Style custom UNR footer content*/
.panel-footer {
    margin-top: 4em;
}
.panel-footer ul.footer-list {
    list-style-type: none;
    float: left;
    text-align: left;
}