<div class="container-fluid panel-footer">
  <div class="row">

	<div class="col-md-4">
	  <ul class="footer-list">
		<li>GW Libraries</li>
		<li>Gelman Library</li>
		<li>2130 H Street NW</li>
		<li>Washington, DC 20052</li>
		<li><a href="https://library.gwu.edu/scrc/contact">Contact</a></li>
	  </ul>
	</div>  
  
	<div class="col-md-4">
	  <ul class="footer-list">
		<li><a href="https://library.gwu.edu/scrc">Special Collections Research Center</a></li>
		<li><a href="https://library.gwu.edu/grc">Global Resources Center</a></li>
		<li><a href="https://library.gwu.edu/">GW Libraries</a></li>
		<li><a href="https://lai.gwu.edu/">GW Libraries &amp; Academic Innovation</a></li>
	  </ul>
	</div>
	
	 <div class="col-md-4">
       <ul class="footer-list">
		<!--<li><a href="<%= AppConfig[:frontend_proxy_url] %>">Staff Interface</a></li>-->
		<li><a href="https://archivesspace.org">ArchivesSpace</a> <%= ASConstants.VERSION %></li>
		<li><% if AppConfig[:feedback_url] && !AppConfig[:feedback_url].blank? %><a id='aspaceFeedbackLink' href='https://library.gwu.edu/scrc/contact' target='_blank'>Send Feedback or Report a Problem</a><% end %></li>
	  </ul>
     </div>
  </div>
</div>